<form style="z-index:1000; position:absolute; width:300px; left:570px" action="login" method="POST">
  <label for="userName-login" class="block mar-b-1">Имя пользователя:</label>
  <input id="userName-login" class="block w-100 no-outline no-border pad-1 mar-b-2" type="text" name="userName"
    placeholder="your userName">
  <label for="password-login" class="block mar-b-1">Пароль:</label>
  <input id="password-login" class="block w-100 no-outline no-border pad-1 mar-b-2" type="password" name="password"
    placeholder="your password">
  <button type="submit"
    class="btn btn-outline-dark block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">Войти
    </button>
</form>


<style>
 

  #userName-login {
    color: #6e31ff;
    border-radius: 9px;
    
  }

  #password-login {
    border-radius: 9px;
    color: #6e31ff;
    margin-bottom: 15px
  }
</style>
