<div class="outer">
  
  <form style="z-index:1000; position:absolute; width:300px; left:550px" action="register" method="POST">
    <label for="userName-registration" class="block mar-b-1">Имя пользователя:</label>
    <input id="userName-registration" class="block w-100 no-outline no-border pad-1 mar-b-2" type="text" name="userName"
      placeholder="name">
    <label for="email-registration" class="block mar-b-1">email:</label>
    <input id="email-registration" class="block w-100 no-outline no-border pad-1 mar-b-2" type="email" name="email"
      placeholder="your email">
    <label for="password-registration" class="block mar-b-1">Пароль:</label>
    <input id="password-registration" class="block w-100 no-outline no-border pad-1 mar-b-2" type="password"
      name="password" placeholder="password">
    <button type="submit" id="regis"
      class="btn btn-outline-dark block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">Регистрация</button>
  </form>
 
</div>
<style>
 
  #userName-registration {
    border-radius: 9px;
  }

  #email-registration {
    border-radius: 9px;
  }

  #password-registration {
    border-radius: 9px;
    margin-bottom: 15px
  }

  #regis {
    border-radius: 9px;
  }
</style>
